
body
{
    margin:             0;
    overflow-x:         hidden;

    margin-top:         30px;
}

.nobr
{
    white-space:        nowrap;
}

#tableau
{
    display:            flex;
    flex-wrap:          wrap;
    justify-content:    space-around;
}

@media only screen and (max-height: 480px) and (orientation: portrait) {
    #tableau {
        box-orient: vertical;
    }
}

.selectionlist
{
    list-style:         none;
    padding:            0;
}

.panecontainer
{
    position:           fixed;
    top:                0;
    left:               0;
    max-width:          100vw;
    height:             0;
    z-index:            2;
}

.hiddendeck
{
    display: none;
}

ul.currentdeckslist {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li.currentdeck {
    float: left;
}

li.currentdeck a {
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li.currentdeck a:hover {
    background-color: #AAAAAA;
}
