$card-width: 437px;
$card-ratio: $card-width / 296px;

.hidden-deck {
  display: none;
}

.ability-deck-container {
  max-width: 100vw;
}

.row-container {
  display: flex;
  flex-flow: row nowrap;
}

.base-stats {
  font-family: 'Nyala', 'Sakkal Majalla', 'Philosopher', sans-serif;
  font-size: 85%;

  // Styles for the stats icon table (right of card)
  table {
    border-spacing: 0;
  }

  .base-stat-id {
    text-align: center;
  }

  .base-stat-left {
    text-align: right;
  }

  .base-stat-right {
    text-align: left;
  }

  // Style for the separator between int and bool stats (right of card).
  hr {
    border-style: solid;
    margin: 0;
  }

  // Styles for the stats list (below card)
  ul {
    list-style: none;
    margin: 0;
  }

  // Styles for icons used by the base stats display.
  .int-stat-icon {
    height: .75em;
    vertical-align: baseline;
  }

  .bool-stat-icon {
    height: .85em;
    margin-right: .15em;
    vertical-align: baseline;
  }

  .invert-icon {
    filter: invert(100%);
  }
}

@media only screen and (min-height: 500px) and (orientation: portrait) {
  .card-container {
    max-width: 33vh * $card-ratio;
  }
}

.card-container {
  margin: 8px;

  max-width: 100vh * $card-ratio;

  position: relative;
  text-align: center;
  width: $card-width + 16px;
  width: calc($card-width + 1rem);

  &.modifier {
    float: right;
    width: 70%;
  }

  &::before {
    content: '';
    display: inline-block;
    padding-bottom: 100% / $card-ratio;
    visibility: hidden;
  }
}

@keyframes pull-front {
  0% {
    transform: translate(-1rem, -1rem) rotateY(180deg);
    z-index: -3;
  }

  49% {
    transform: translate(-50%, -20%)   rotateY(90deg);
    z-index: -2;
  }

  51% {
    transform: translate(-50%, -20%)   rotateY(90deg);
    z-index: 0;
  }

  100% {
    transform: translate(0, 0)         rotateY(0deg);
    z-index: 0;
  }
}

@keyframes pull-back {
  0% {
    transform: translate(-1rem, -1rem) rotateY(0deg);
    z-index: -3;
  }

  49% {
    transform: translate(-50%, -20%)   rotateY(90deg);
    z-index: -2;
  }

  51% {
    transform: translate(-50%, -20%)   rotateY(90deg);
    z-index: 0;
  }

  100% {
    transform: translate(0, 0)         rotateY(180deg);
    z-index: 0;
  }
}

@keyframes lift {
  0% { z-index: -1; }
  50% { z-index: -1; }
  100% { z-index: -4; }
}

@-webkit-keyframes pull-front {
  0% {
    transform: translate3d(-1rem, -1rem, 1000px) rotateY(180deg);
    z-index: -3;
  }

  49% {
    transform: translate3d(-50%, -20%, 2000px)   rotateY(90deg);
    z-index: -2;
  }

  51% {
    transform: translate3d(-50%, -20%, 4000px)   rotateY(90deg);
    z-index: 0;
  }

  100% {
    transform: translate3d(0, 0, 4000px)         rotateY(0deg);
    z-index: 0;
  }
}

@-webkit-keyframes pull-back {
  0% {
    transform: translate3d(-1rem, -1rem, 1000px) rotateY(0deg);
    z-index: -3;
  }

  49% {
    transform: translate3d(-50%, -20%, 2000px)   rotateY(90deg);
    z-index: -2;
  }

  51% {
    transform: translate3d(-50%, -20%, 4000px)   rotateY(90deg);
    z-index: 0;
  }

  100% {
    transform: translate3d(0, 0, 4000px)         rotateY(180deg);
    z-index: 0;
  }
}

@-webkit-keyframes lift {
  0% {
    transform: translateZ(3000px);
    z-index: -1;
  }

  50% {
    transform: translateZ(3000px);
    z-index: -1;
  }

  100% { z-index: -4; }
}

.card {
  $font-color: #fff;
  $font-color-elite: #ffd700;
  $font-color-shadow: #000;
  $shadow-color: rgba(0, 0, 0, .1);
  $transparent-color: rgba(0, 0, 0, 0);

  backface-visibility: hidden;

  background-clip: content-box;

  background-origin: content-box;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;

  box-shadow: 5px 5px 5px $shadow-color;
  color: $font-color;
  font-family: 'PirataOne', serif;
  font-size: 100%;

  overflow: hidden;
  position: absolute;
  text-shadow: 1px 2px 3px $font-color-shadow;

  &.front {
    &.ability {
      background-image: url('../images/front.jpg');
    }

    &.modifier {
      img {
        &.cover {
          height: 100%;
          left: 0;
          position: absolute;
          top: 0;
          width: 100%;
        }
      }

      &.left {
        img {
          &.cover {
            clip-path: inset(0% 24.5% 0% 24.5%);
            left: -25%;
          }
        }
      }

      &.right {
        img {
          &.cover {
            clip-path: inset(0% 24.5% 0% 24.5%);
            left: 25%;
          }
        }
      }
    }

    &.pull {
      animation-duration: .5s;
      animation-name: pull-front;
    }

    .name {
      font-size: 120%;
      left: 0;

      line-height: 200%;
      position: absolute;
      text-align: center;
      top: 0;
      width: 100%;
    }
  }

  &.back {
    &.ability {
      background-image: url('../images/back.jpg');
    }

    &.modifier {
      background-image: url('../images/attack_mod_back.jpg');
    }

    &.pull {
      animation-duration: .5s;
      animation-name: pull-back;
    }

    .name {
      bottom: 14%;
      font-size: 90%;

      left: 0;
      position: absolute;
      text-align: center;
      width: 100%;
    }
  }

  &.lift {
    animation-duration: .5s;
    animation-name: lift;
    animation-timing-function: step-start;
  }

  &.discard {
    bottom: 0;
    left: 1rem;
    right: 0;
    top: 1rem;
  }

  &.draw {
    bottom: 1rem;
    left: 0;
    right: 1rem;
    top: 0;

    transition: top .4s, left .4s, bottom .4s, right .4s, transform .4s, z-index 0s .4s;
  }

  ul {
    font-family: 'Nyala', 'Sakkal Majalla', 'Philosopher', sans-serif;
    list-style: none;

    margin: 0;
    padding: 0;

    text-align: center;
  }

  > ul {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    margin: 0 2ch;

    overflow: hidden;
    padding-top: 2.5em;
    position: relative;
  }

  li {
    margin: .25em 0;
    margin-left: 17%;

    li {
      font-size: 75%;
      margin: 0;
    }
  }

  .initiative {
    font-size: 180%;
    left: 0;

    position: absolute;
    text-align: center;
    top: 18%;
    width: 19%;
  }

  .health-normal {
    font-size: 130%;
    left: 3%;

    position: absolute;
    text-align: left;
    top: 45%;
    width: 15%;
  }

  .health-elite {
    color: $font-color-elite;
    font-size: 130%;
    left: 3%;

    position: absolute;
    text-align: left;
    top: 70%;
    width: 15%;
  }

  .number {
    bottom: 5%;
    font-family: initial;
    font-size: 30%;

    left: 3%;
    position: absolute;
    text-shadow: none;
  }

  &::selection {
    background: $transparent-color;
    color: $transparent-color;
  }
}

.up {
  transform: rotateY(0deg);
}

.down {
  transform: rotateY(180deg);
}
