.current-deck-list {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.current-deck {
  $hover-color: #aaa;

  float: left;

  .button {
    display: block;
    padding: 16px;
    text-align: center;
    text-decoration: none;

    &:hover {
      background-color: $hover-color;
    }
  }
}

#tableau {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  @media only screen and (max-height: 480px) and (orientation: portrait) {
    box-orient: vertical;
  }
}
